<%= render "shared/header" %>

  <h3>患者検索</h3>
    <%= search_form_for @q, url: search_patients_path do |f| %>
    <%= f.label :kana01_cont, '患者フリガナ' %>
    <%= f.search_field :kana01_cont %>
    <br>
    <%= f.label :gender, '性別' %>
    <%= f.radio_button :gender_eq, '' %>指定なし
    <%= f.radio_button :gender_eq, '男' %>男
    <%= f.radio_button :gender_eq, '女' %>女
    <%= f.radio_button :gender_eq, '不明' %>不明
    <br>
    <%= f.label :age_cont, '年齢' %>
    <%= f.radio_button :age, '10歳未満' %>10歳未満
    <%= f.radio_button :age, '10歳代' %>10歳代
    <%= f.radio_button :age, '20歳代' %>20歳代
    <%= f.radio_button :age, '30歳代' %>30歳代
    <%= f.radio_button :age, '40歳代' %>40歳代
    <%= f.radio_button :age, '50歳代' %>50歳代
    <%= f.radio_button :age, '60歳代' %>60歳代
    <%= f.radio_button :age, '70歳代以上' %>70歳代以上
    <br>
    <%= f.label :belong_id_cont, '担当保健所' %>
    <%= f.collection_select(:belong_id_eq, Belong.all, :id, :name, include_blank: '指定なし' )%>
    <br>
    <%= f.submit '検索' %>
    <% end %>
</form>

<%#患者一覧を表形式で表示%>
<span class="btn">患者一覧(Excel出力可能)</span>
<%= button_to excel_patients_path(format: :xlsx), method: :get do %>
      エクセル出力
<% end %>
<table class="table table-striped">
  <thead>
    <tr align="center">
      <th scope="col">No.</th>
      <th scope="col">患者フリガナ</th>
      <th scope="col">患者氏名</th>
      <th scope="col">性別</th>
      <th scope="col">年齢</th>
      <th scope="col">担当保健所</th>
    </tr>
  </thead>
  <tbody>
      <% @patients.each do |patient| %>
    <tr align="center">
      <td><%= patient.id %></td>
      <td><%= link_to patient.kana01, patient_path(patient.id) %></td>
      <td><%= patient.name01 %></td>
      <td><%= patient.gender %></td>
      <td><%= patient.age %></td>
      <td><%= patient.belong.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
