<%= render "shared/header" %>

<!DOCTYPE html>
<!-- bootstrapより拝借 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%#検索条件選択画面%>
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">患者フリガナ</label>
    <input type="text" class="form-control" id="validationCustom01" value="アイチタロウ" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">患者氏名</label>
    <input type="text" class="form-control" id="validationCustom02" value="愛知太郎" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">国籍</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">担当保健所</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">滞在先</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">発表日</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

<%#ここから%>
<span class="btn">患者一覧</span>
<table class="table table-striped">
  <thead>
    <tr align="center">
      <th scope="col">#</th>
      <th scope="col">患者フリガナ</th>
      <th scope="col">患者氏名</th>
      <th scope="col">性別</th>
      <th scope="col">年齢</th>
      <th scope="col">担当保健所</th>
    </tr>
  </thead>
  <tbody>
      <% @patients.each do |patient| %>
    <tr align="center">
      <td><%= patient.id %></td>
      <td><%= link_to patient.kana01, patient_path(patient.id) %></td>
      <td><%= patient.name01 %></td>
      <td><%= patient.gender %></td>
      <td><%= patient.age %></td>
      <td><%= patient.belong.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
